extends layout

block append header
  script(src="https://unpkg.com/axios/dist/axios.min.js")

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Enter your email address
      form.form
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required, autofocus)
        .form__group.right
          button.btn.btn--green Send Reset Password Token
        input(type="hidden", name="type", value="forgot_password")

block append script
  script(src="/js/flash.js")
  script(src="/js/auth.js")