doctype html
html(lang='en')
  // Head
  head
    block header
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='shortcut icon', type='image/png', href='/img/favicon.png')
      title Natours | #{title}

  // Body
  body

    // Header
    include components/header

    // Main content
    block content

    // Footer
    include components/footer

    block script 
    

