extends layout

block append header
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  meta(reset_token=token)

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Create new password
      form.form
        .form__group
          label.form__label(for='password') New password
          input#password.form__input(type='password', placeholder='********', required, autofocus)
        .form__group
          label.form__label(for='passwordConfirm') Confirm password
          input#passwordConfirm.form__input(type='password', placeholder='********', required)
        .form__group.right
          button.btn.btn--green Reset Password
        input(type="hidden", name="type", value="reset_password")

block append script
  script(src="/js/flash.js")
  script(src="/js/auth.js")